
// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

$theme-colors: (
  "primary": #32ffff,
  "danger": #ff4136,
  );

.body {
    background-color: rgb(255, 149, 149);
}

.navbar {
    background-color: $primary;
    color: $danger;
}
.navbar-brand {
    background-color: green;
}

h1 {
    color: $danger;
}

.login:link, .login:visited, .login:hover, .login:active, .logout:link, .logout:visited, .logout:hover, .logout:active{
    color: black;
}